<div class="column col-sm-3" id="sidebar">
    <a class="logo" href="#">B</a>
    <ul class="nav">
        <li class="active"><a href="#Featured">Featured</a>
        </li>
        <li><a href="#Wishlist">Stories</a>
        </li>
        <li><%- link_to('Signup', '/sign-up') %>
        </li>
        <li><%- link_to('Users', '/users') %>
        </li>
    </ul>
    <ul class="nav hidden-xs" id="sidebar-footer">
        <li>
            <a href="http://www.bootply.com"><h3>Basis</h3>Made with <i class="glyphicon glyphicon-heart-empty"></i> by Bootply</a>
        </li>
    </ul>
</div>
