<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
</head>
<body>
<div class="wrapper">
    <div class="box">
        <div class="row">
            <!-- sidebar -->
            <% include partials/sidebar.ejs %>
            <!-- /sidebar -->

            <!-- main -->
            <div class="column col-sm-9" id="main">
                <div class="padding">
                    <div class="full col-sm-9">

                        <!-- content -->
                        List of users:
                        <br>
                        <% for(i=0;i<users.length;i++) {%>
                        <div class="row">
                            <div class="col-sm-10">
                                <%= users[i].id %>. <%= users[i].email %>
                            </div>
                            <div class="col-sm-2">
                                <a href="#" class="pull-right"><img src="http://api.randomuser.me/portraits/thumb/men/19.jpg" class="img-circle"></a>
                            </div>
                        </div>
                        <%}%>


                    </div><!-- /col-9 -->
                </div><!-- /padding -->
            </div>
            <!-- /main -->
        </div>
    </div>
</div>
<% include partials/footer.ejs %>
</body>
</html>